@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.theme {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.theme__left {
	display: block;
	margin-right: 10px;
	position: relative;
	-webkit-transform: translate(36px, 0px);
	    -ms-transform: translate(36px, 0px);
	        transform: translate(36px, 0px);
	opacity: 0;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	-webkit-transition: opacity .5s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: opacity .5s ease-in-out, -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out, opacity .5s ease-in-out;
	transition: transform .3s ease-in-out, opacity .5s ease-in-out;
	transition: transform .3s ease-in-out, opacity .5s ease-in-out, -webkit-transform .3s ease-in-out;
	text-decoration: none;
	display: block;
	color: #000;
}

.theme:hover .theme__left {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	        transform: translate(0, 0);
}

.theme__left-span {
	display: block;
	text-transform: uppercase;
	font: bold 10px/10px "Roboto", sans-serif;
}

.theme__right {
	display: block;
	position: relative;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font: bold 10px/10px "Roboto", sans-serif;
	padding: 12px;
	border: 2px solid #000;
	background: #fff;
	overflow: hidden;
	width: 24px;
	height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
